body {
	background-color: #18191B;
}

.match-line {
	background-color: #26282B;
	margin-bottom: 10px;
	padding: 5px;
}

.team-name {
	color: #fff;
}

.team-name.rigth {
	text-align: right;
}

.score-box {
	background-color: #121212;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
